img{
    display: block;
    max-width: 100%;
    border-radius: 20px;
    margin: 0px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 72px;
    color: #2EC4B6;
    text-align: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #2EC4B6;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #2EC4B6;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #2EC4B6;
}

h5 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #2EC4B6;
}

h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #2EC4B6;
}


body {
    background-color: #F9DEC9;
    font-family: 'Lexend Deca', sans-serif;
    color: #3A405A;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 24px;
    color : #5B5F97;
}

ol {
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
    font-weight: 400;
    font-size: 24px;
    color: #2EC4B6;
}

ul {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 24px;
    color : #5B5F97;    
}

.column {
    float: right;
    width: 40%;
    padding: 0px;
    margin: 20px;
}

.columnL {
    float: left;
    width: 40%;
    padding: 0px;
    margin: 20px;
}

.coluna {
    display: flex;
    justify-content: space-around;
    margin: 5vh auto;
    width: 70%;
 }
 
 .imagens{
     width: 45%;
     border-radius: 20px;
 }
.text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 150;
    font-size: 24px;
    color: #5B5F97;
    margin: 20px;

}

.nameProfile{
    text-align: center;
}

.links{
    margin-top: 20px;
}

.link{
    text-decoration: none;
    text-align: center;
    display: block;
    color: #5B5F97;
}

.link:hover{
    color: aliceblue;
}

.imagenProfile{
    width: 300px;
    height: 400px;
    object-fit: cover;
}