img {
    width: 45%;
    border-radius: 100px;
}

column {
    float: left;
    width: 40%;
    padding: 0px;
    margin: 20px;
}

body {
    background-color: #07090F;
    font-family: 'Lexend Deca', sans-serif;
    color: #3A405A;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 24px;
    color: #D6C3C9;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 36px;
    color: #D6C3C9;
}